body {
  background-color: rgb(71, 90, 84);
  background-image: url(/img/Pic.jpg);
  color: rgb(190, 15, 123);
}
div p {
  color: rgb(173, 8, 173);
}
.emme p {
  color: rgb(179, 104, 29);
}
div > p {
  color: aquamarine;
}
